<h1>Articoli Disponibili</h1>

<table id="articoli" border="1">
    <caption>Alimentari</caption>
    <thead>
        <tr>
            <th>Codice Articolo</th>
            <th>Descrizione</th>
            <th>UM</th>
            <th>Pz/Cartone</th>
            <th>Peso (Kg)</th>
            <th>Prezzo (€)</th>
            <th>Active</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of articoli">
            <td>{{articolo.codart}}</td>
            <td>{{articolo.descrizione}}</td>
            <td>{{articolo.um}}</td>
            <td>{{articolo.pzcart}}</td>
            <td>{{articolo.peso}}</td>
            <td>{{articolo.prezzo | currency: 'EUR'}}</td>
            <td>{{articolo.active}}</td>
            <td>{{articolo.data | date:'dd/MM/yyyy'}}</td>  <!-- '| date descrive la pipe ovvero usata per il formato data-->  
        </tr>
    </tbody>
</table>