<div class="form-container">
  <h3 mat-dialog-title>Aggiungi nuovo Articolo</h3>

  <mat-form-field appearance="fill">
    <mat-label>Codice Articolo</mat-label>
    <input matInput placeholder="Inserisci un codice articolo ...">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrizione</mat-label>
    <textarea matInput rows="2" placeholder="Inserisci una descrizione ..."></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Um</mat-label>
    <mat-select>
      <mat-option value="one">Pz</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Codice Stato</mat-label>
    <input matInput placeholder="Inserisci un codice stato ...">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Numero Pezzi</mat-label>
    <input matInput #inputstate placeholder="Inserisci un numero di pezzi ..." maxlength="10">
    <mat-hint align="end">{{inputstate?.value?.length || 0}}/10</mat-hint>
  </mat-form-field>


</div>