
  <h3 mat-dialog-title>Aggiungi nuovo Articolo</h3>

  <div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Codice Articolo</mat-label>
    <input matInput placeholder="Inserisci un codice articolo ..." name="codArt" [(ngModel)]="data.codArt">
    <!--<mat-error>Campo Obbligatorio</mat-error>-->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrizione</mat-label>
    <textarea matInput rows="2" placeholder="Inserisci una descrizione ..." name="descrizione" [(ngModel)]="data.descrizione"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Um</mat-label>
    <mat-select name="um" [(ngModel)]="data.um">
      <mat-option value="pz">Pz</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Codice Stato</mat-label>
    <mat-select name="codStato" [(ngModel)]="data.codStat">
      <mat-option value="A">A</mat-option>
      <mat-option value="B">B</mat-option>
      <mat-option value="C">C</mat-option>
      <mat-option value="D">D</mat-option>
      <mat-option value="E">E</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Numero Pezzi</mat-label>
    <input matInput #inputNumeroPezzi placeholder="Inserisci un numero di pezzi ..." maxlength="10" name="pzCart" [(ngModel)]="data.pzCart">
    <mat-hint align="end">{{inputNumeroPezzi?.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Peso Netto</mat-label>
    <input matInput placeholder="Inserisci un peso ..." name="pesoNetto" [(ngModel)]="data.pesoNetto">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>ID Stato Articolo</mat-label>
    <mat-select name="idStatoArticolo" [(ngModel)]="data.idStatoArt">
      <mat-option value="ST01">ST01</mat-option>
      <mat-option value="ST02">ST02</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data Creazione</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Scegli una data ..." name="dataCreaz" [(ngModel)]="data.dataCreaz">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Barcode</mat-label>
    <input matInput #inputBarcode placeholder="Inserisci un barcode ..." maxlength="13" name="barcode" [(ngModel)]="data.barcode">
    <mat-hint align="end">{{inputBarcode?.value?.length || 0}}/13</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingredienti</mat-label>
    <mat-select name="ingredienti" [(ngModel)]="data.ingredienti">
      <mat-option value="[{ codArt: 'INF001', info: 'Ingrediente 1' }]">INF001</mat-option>
      <mat-option value="[{ codArt: 'INF002', info: 'Ingrediente 2' }]">INF002</mat-option>
      <mat-option value="[{ codArt: 'INF003', info: 'Ingrediente 3' }]">INF003</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Iva</mat-label>
    <mat-select name="iva" [(ngModel)]="data.iva">
      <mat-option value="{ idIva: 1, aliquota: 4, descrizione: 'IVA 4%' }">4%</mat-option>
      <mat-option value="{ idIva: 2, aliquota: 10, descrizione: 'IVA 10%' }">10%</mat-option>
      <mat-option value="{ idIva: 3, aliquota: 22, descrizione: 'IVA 22%' }">22%</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipologia prodotto</mat-label>
    <mat-select name="famAssort" [(ngModel)]="data.famAssort">
      <mat-option value="{ id: 1, descrizione: 'ALIMENTARI' }">ALIMENTARI</mat-option>
      <mat-option value="{ id: 2, descrizione: 'DROGHERIA' }">DROGHERIA</mat-option>
      <mat-option value="{ id: 3, descrizione: 'BEVANDE' }">BEVANDE</mat-option>
      <mat-option value="{ id: 4, descrizione: 'SURGELATI' }">SURGELATI</mat-option>
      <mat-option value="{ id: 5, descrizione: 'CURA CASA' }">CURA CASA</mat-option>
    </mat-select>
  </mat-form-field>

</div>


    <div mat-dialog-actions align="end" class="mat-dialog-actions">
      <button class="btn-save styled-btn-save" mat-button type="button" 
        (click)="confirmAdd()">Save</button>
      <button class="btn-cancel styled-btn-cancel" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>