<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (input)="filterPagination($event)" placeholder="Insert value" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-cell">

        <ng-container matColumnDef="CodiceArticolo">
            <th mat-header-cell *matHeaderCellDef> Codice Articolo </th>
            <td mat-cell *matCellDef="let element"> {{element.codArt}} </td>
        </ng-container>

        <ng-container matColumnDef="Descrizione">
            <th mat-header-cell *matHeaderCellDef> Descrizione </th>
            <td mat-cell *matCellDef="let element"> {{element.descrizione}} </td>
        </ng-container>

        <ng-container matColumnDef="Um">
            <th mat-header-cell *matHeaderCellDef> Um </th>
            <td mat-cell *matCellDef="let element"> {{element.um}} </td>
        </ng-container>

        <ng-container matColumnDef="CodiceStato">
            <th mat-header-cell *matHeaderCellDef> Codice Stato </th>
            <td mat-cell *matCellDef="let element"> {{element.codStat}} </td>
        </ng-container>

        <ng-container matColumnDef="NumeroPezzi">
            <th mat-header-cell *matHeaderCellDef> Numero Pezzi </th>
            <td mat-cell *matCellDef="let element"> {{element.pzCart}} </td>
        </ng-container>

        <ng-container matColumnDef="PesoNetto">
            <th mat-header-cell *matHeaderCellDef> Peso Netto </th>
            <td mat-cell *matCellDef="let element"> {{element.pesoNetto}} </td>
        </ng-container>

        <ng-container matColumnDef="idStatoArticolo">
            <th mat-header-cell *matHeaderCellDef> ID Stato Articolo </th>
            <td mat-cell *matCellDef="let element"> {{element.idStatoArt}} </td>
        </ng-container>

        <ng-container matColumnDef="DataCreazione">
            <th mat-header-cell *matHeaderCellDef> Data Creazione </th>
            <td mat-cell *matCellDef="let element"> {{element.dataCreaz}} </td>
        </ng-container>

        <ng-container matColumnDef="Barcode">
            <th mat-header-cell *matHeaderCellDef> Barcode </th>
            <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
        </ng-container>

        <!-- Actions operations crud-->
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button>
            </th>
                <td mat-cell *matCellDef="let element; let i=index;">  
                    <!-- 
                    <button mat-icon-button color="accent" (click)="edit(i, element.codArt, element.descrizione, element.um, 
                        element.codStat, element.pzCart, element.pesoNetto, element.idStatoArt, element.dataCreaz, element.barcode)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" (click)="delete(i, element.codArt, element.descrizione, element.um, 
                        element.codStat, element.pzCart, element.pesoNetto, element.idStatoArt, element.dataCreaz, element.barcode)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                    -->
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource._filterData.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
</div>