#SignUp {
    margin-right: 0.5em;
    width: 6em;
    background-color: #b41b07
}

#SignIn {
    margin-left: 0.5em;
    width: 6em;
    background-color: #14b437
}

.jumbotron-billboard .img{
    background-image: url("https://t3.ftcdn.net/jpg/03/35/74/56/360_F_335745675_MaXYxSadrviZdTdThITuHb2oCohYOiwEu.jpg");
    background-color: #e9ecef;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0.3rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}